<div class="general-container">
  <div class="header">
    <div></div>
    <%= image_tag "logo-titles.png", class: "logo-title" %>
    <h1 class="text-center">INFORMATIONS</h1>
    <%= image_tag "logo-titles.png", class: "logo-title"%>
    <div></div>
  </div>

  <p class="justify-text w-75 mx-auto mb-4 change-justify-text">
    A partir du premier juillet 2022, le modèle de la prescription est entré en vigueur, qui permet au suivi d’être remboursé par l’assurance de base sur prescription d’un médecin généraliste, psychiatre ou pédiatre.<br><br>
    A priori cela ne devrait pas engendrer de changement pour les personnes qui passent par leur assurance complémentaire et souhaitent continuer de le faire.
  </p>

  <p class="justify-text w-75 mx-auto mb-5 change-justify-text">
    Vous trouverez ici le modèle d’ordonnance à faire signer par votre médecin si vous souhaitez que votre suivi soit remboursé par la Lamal.&nbsp;
    <%= link_to '<i class="fa-solid fa-file-pdf"></i>'.html_safe, asset_path("ordonnance_psychologie_psychotherapie.pdf", format: :pdf), target: "_blank", class: "pdf-logo" %>
  </p>

  <div class="subheader">
    <div></div>
    <h2 class="text-center">ACTUALITÉS</h2>
    <div></div>
  </div>

  <div class="content-container">
    <% @posts.each do |post| %>
      <div class="container w-75 mb-5">
        <p><%= post.title.upcase %></p>
        <p><%= post.content %></p>
        <%= link_to "Lien vers l'article", post.url %></p>
      </div>
    <% end %>
  </div>
</div>
